* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
    width: 50vw;
    height: 80vh;
    margin: 3vh auto;
    border-radius: 2%;
    background-color: #c7c4ae;
}

.container {
    padding: 2%;
}

.title {
    text-align: center;
    margin: 1%;
    font-size: 2rem;
    text-transform: uppercase;
}

.img-content {
    width: 45vw;
    height: 60vh;
    overflow: hidden;
    margin: 0 auto;
}

.img-content > div {
    width: 45vw;
    height: 60vh;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}

.img-1 {
    background-image: url("./assets/1.jpg");
    background-size: contain;

}
.img-2 {
    background-image: url("./assets/2.jpg");
    background-size: contain;
    background-position: center;
}
.img-3 {
    background-image: url("./assets/3.jpg");
    background-size: contain;
    background-position: center;
}
.img-4 {
    background-image: url("./assets/4.jpg");
    background-size: contain;
    background-position: center;
}
.img-5 {
    background-image: url("./assets/5.jpg");
    background-size: contain;
    background-position: center;
}
.img-6 {
    background-image: url("./assets/6.jpg");
    background-size: contain;
    background-position: center;
}