* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 590px;
    height: 400px;
}

.wrapper {
    width: 600px;
    height: 80vh;
    margin: 3vh auto;
    border-radius: 2%;
    background-color: #c7c4ae;
}

.container {
    padding: 2%;
    overflow: hidden;
}

.title {
    text-align: center;
    margin: 1%;
    font-size: 2rem;
    text-transform: uppercase;
}

.img-content {
    display: flex;
    overflow: hidden;
    margin: 0 auto;
}

.img { /* responsible for mem-movement */
    width: 590px;
    height: 400px;
    transform: translateX(-1180px);
}

.content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 2%;
}

.text > div {
    font-size: 1.25rem;
    color: rgb(103, 90, 57);
    display: none;
}

.nav-points {
    display: flex;
}

label {
    width: 7px;
    height: 7px;
    background-color: rgb(255, 229, 164);
    border-radius: 50%;
    border: 3px solid rgb(250, 213, 120);
    margin: 5px;
    transition: .2s;
}

label:hover {
    background-color: rgb(253, 212, 107);
}

/* text-generation */
#r-1:checked ~ .content #mem-text-1 {
    display: block;
}
#r-2:checked ~ .content #mem-text-2 {
    display: block;
}
#r-3:checked ~ .content #mem-text-3 {
    display: block;
}
#r-4:checked ~ .content #mem-text-4 {
    display: block;
}
#r-5:checked ~ .content #mem-text-5 {
    display: block;
}
#r-6:checked ~ .content #mem-text-6 {
    display: block;
}

/* active radio */
#r-1:checked ~ .content .nav-points label:nth-child(1) {
    background-color: rgb(253, 212, 107);
}
#r-2:checked ~ .content .nav-points label:nth-child(2) {
    background-color: rgb(253, 212, 107);
}
#r-3:checked ~ .content .nav-points label:nth-child(3) {
    background-color: rgb(253, 212, 107);
}
#r-4:checked ~ .content .nav-points label:nth-child(4) {
    background-color: rgb(253, 212, 107);
}
#r-5:checked ~ .content .nav-points label:nth-child(5) {
    background-color: rgb(253, 212, 107);
}
#r-6:checked ~ .content .nav-points label:nth-child(6) {
    background-color: rgb(253, 212, 107);
}

.radio {
    display: none;
}

label {
    padding: 0.5rem;
}

label:hover {
    cursor: pointer;
    color: #c7c4ae;
}