* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
    width: 50vw;
    height: 80vh;
    margin: 3vh auto;
    border-radius: 2%;
    background-color: #c7c4ae;
}

.container {
    padding: 2%;
}

.title {
    text-align: center;
    margin: 1%;
    font-size: 2rem;
    text-transform: uppercase;
}

.img-content {
    width: 45vw;
    height: 60vh;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.img {
    display: block;
    width: 45vw;
    height: 60vh;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 2%;
}

.text > div {
    font-size: 1.25rem;
    display: none;
}

#cb-1:checked ~  #mem-text-1 {
    display: block;
}

.nav-points {
    width: 50%;
}

label {
    padding: 0.5rem;
}

label:hover {
    cursor: pointer;
    color: #c7c4ae;
}

input[type=radio] {
    width: 1.25rem;
    height: 1.25rem;
    background-color:#e4e1c4;
}

input[type=radio]:hover {
    
}